<aside class="sidebar">
    <h1>TEAGRAM</h1>
    <a href="/"><img src="/images/home-icon.png"></a>
    <img onclick="document.getElementById('logout-page').style.display='block'" src="/images/logout-icon.png">
</aside>

<section class="feed-page">
    <h1>MY PAGE</h1>
    
    {{#each posts}}
    <div class="feed">
        <article class="posts">
            <h2>{{this.user.username}}</h2>
            <a href="/dashboard/editPost/{{this.id}}">
                <img class="user-post" src="{{this.image_post}}" alt="posted image">
                <a href="{{this.image_post}}" download="">Download</a>
            </a>

            <p class="caption">{{this.caption}}</p>
        </article>
    </div>
    {{/each}}
</section>