{{!-- <section>
    <div class="card">

        <img class="card__image" src="{{this.user.image_profile}}" alt="User Profile">

        <h1 class="card__title">{{this.user.username}}</h1>

    </div>
</section> --}}

<section class="feed-page">
    <h1>MY PAGE</h1>
    {{#each posts}}

    <div class="feed">
        <article class="posts">
            <h2>{{this.user.username}}</h2>
            <a href="/dashboard/editPost/{{this.id}}">
                <img class="user-post" src="{{this.image_post}}" alt="posted image">
                <a href="{{this.image_post}}" download="">Download</a>
            </a>

            <p class="caption">{{this.caption}}</p>
        </article>
    </div>
    {{/each}}
</section>