<section class="feed-page">
    <aside class="sidebar">
            <h1>TEAGRAM</h1>
            <a href="/"><img src="/images/home-icon.png"></a>
            <img onclick="document.getElementById('logout-page').style.display='block'" src="/images/logout-icon.png">
        </aside>
        
   <img class="profile-img" src="{{posts.user.image_profile}}" alt="">
    
    
    <input type="hidden" value="{{posts.id}}" id="post-id-hidden-comment">
    <input type="hidden" value="{{users.id}}" id="user-id-hidden-comment">
    <div class="feed" style="margin:0">
        <article class="posts">
            <h2>{{posts.user.username}}</h2>
            <img class="user-post" src="{{posts.image_post}}">
            <p class="caption">{{posts.caption}}</p>
            <div>
                <h5>Liked By:</h5>
                <h6 id="like-status">{{>like posts.likes}}</h6>
                {{#if loggedIn}}
                <button type="button"  class="submit-btn" id="likebtn">Like</button>
                {{/if}}
            </div>
        </article>
    </div>

</section>



<div class="comment-content">
    <div>
        <h2>Comments:</h2>
    </div>

    <p id="comments-text">
        {{> comment posts.comments}}
    </p>
</div>



<div class="comment-content" style="margin-bottom:100px">
    {{#if loggedIn}}
    <form id="comment-form">
        <label class="form-label">Comment:</label>
        <br>
        <textarea class="comment-box" id="add-comment"></textarea>
        <br>
        <button class="submit-btn" type="submit">comment</button>
    </form>

    {{else}}
    <a href="/login" class="login-to-comment">Login to comment and like</a>
    {{/if}}
</div>
<script src="/js/comment.js"></script>