 <aside class="sidebar">
        <h1>TEAGRAM</h1>
        <a href="/"><img src="/images/home-icon.png"></a>
        <img onclick="document.getElementById('logout-page').style.display='block'" src="/images/logout-icon.png">
</aside>



<section class="profile-page">
    <form class="upload-form" action="/userimage" method="post" enctype="multipart/form-data">
        <h1 style="color:white">My Profile</h1>
        {{!-- <label for="upload-file"><img class="upload-icon" src="/images/upload-icon.png"></label>
        <input type="file" name="sampleFile" id="upload-file" accept="image/*" style="display:none"> --}}

        <section>
        <div>
            {{#each userImg}}
            <label for="upload-file"><img class="profile-icon" src="{{this.image_profile}}"></label>
            <input type="file" name="sampleFile" id="upload-file" accept="image/*" style="display:none">
            {{!-- <img class="profile-img" src="{{this.image_profile}}" alt="User Profile">
            <br><a href="{{this.image_profile}}" download=""><img class="upload-icon" src="/images/download-icon.png"></a></br> --}}
            <h5>first name: {{this.firstName}}</h5>
            <h5>last name: {{this.lastName}}</h5>
            <h5>username: {{this.username}}</h5>
            {{/each}}
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <input type="submit" class="submit-btn">
        </div>
        </section>
    </form>
</section>

<div id="logout-page" class="modal">

		<form class="profile-form animate" >
			<span onclick="document.getElementById('logout-page').style.display='none'" class="close">&times;</span>
			<h1 class="title">LOGOUT</h1>

			<div class="container" style="background-color:#f1f1f1">
				<button class="submit-btn" type="submit" id="logout">Confirm</button>
			</div>
		</form>
</div>

